<div class="bg-secondary">
  <div class="row container">
       <div class="col-2"></div>
      <div class="col-2">
        <h2 class="text-white mt-2">Qitta</h2>
        <p class="text-white">How developers code is here.</p>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square ml-3"></i>
        <p class="text-light">© 2011-2020 Increments Inc.</p>
      </div>
      <div class="col-2"></div>
      <div class="col-3">
        <table class="table table-borderless">
        <tr>
          <th class="text-white">Qitta</th>
          <th></th>
        </tr>
        <tr>
          <td class="text-white">About</td>
          <td class="text-white">API</td>
        </tr>                             
           
        <tr>
          <td class="text-white">利用規約</td>
          <td class="text-white">ご意見</td>
        </tr>
        <tr>
          <td class="text-white">プライバシー</td>
          <td class="text-white">ヘルプ</td>
        </tr>
          <tr>
            <td class="text-white">ガイドライン</td>
            <td class="text-white">広告掲載</td>
          </tr>
        </table>
       
      </div>
      <div class="col-3">
        <table class="table table-borderless">
          <tr>
            <th class="text-white">Increamnts</th>
            <th></th>
          </tr>
          <tr>
            <td class="text-white">About</td>
            <td class="text-white">Qiita Team</td>
          </tr>
          <tr>
            <td class="text-white">採用情報</td>
            <td class="text-white">Qiita Jobs</td>
          </tr>
          <tr>
            <td class="text-white">ブログ</td>
            <td class="text-white">Qiita Zine</td>
          </tr>
        </table>
      </div>
      
</div>
