<% if current_user == nil  %>
<%= render  "regform" %>
<% end %>
<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-2 mt-3">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-light text-secondary mt-1 btn-sm">トレンド</button>
          <button type="button" class="btn btn-green text-white mt-1 btn-sm">マイルストーン</button>
        </div>
      </div>
      <%= render  "milestone" %>
      <div class="col-3 mt-3 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card mt-4" style="width: 18rem;">
          <div class="card-header">
            ユーザーランキング
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
        <div class="card mt-4" style="width: 18rem;">
          <div class="card-header">
            タグ・ランキング
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

