<div class="container">
<form class="mr-2 ml-2">
    <div class="form-group mt-2">
        <input type="text" class="form-control form-control-lg" id="FormControlInput1" placeholder="タイトル">
    </div>
    <div class="form-group mt-2">
        <input type="text" class="form-control form-control-md" id="FormControlInput1"
            placeholder="プログラミング技術に関連するダグをスペース区切りで五つまで入力">
    </div>

    <div class="form-group">
        <label class="mr-2">本文</label>
        <%= render 'markdown' %>
        <label class="mr-2">未投稿</label>
        <textarea class="form-control mt-1" id="exampleFormControlTextarea1" rows="20"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">投稿</button>
</form>
</div>